# testing
output/

# builds
build/
dist/
WellIntensityAnalyzer.spec

# dev docs
backlog.md
pastebin.md

# video
*.mp4
*.avi

# images
*.png
*.jpg
*.jpeg
*.gif
*.bmp

# python miscellaneous
__pycache__/
